* {
  font-family: "Work Sans";
  margin: 0;
}
header {
  background-image: url(images/banner/banner1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 808px;
  text-align: right;
}
.header {
  /* align-items: ; */
  text-align: right;
  margin-right: 230px;
}

.header-title {
  /* margin-top: 216px;
     */
  /* text-align: right; */
  /* max-width: 525px; */
  padding-top: 216px;
  margin-left: 845px;
  font-weight: 700;
  font-size: 65px;
  color: #151414;
}

.header-description {
  font-weight: 400;
  font-size: 16px;

  margin-left: 876px;
  margin-top: 24px;
  /* line-height: 26px; */
  color: #444343;
}

.btn-primary {
  margin-top: 32px;
  width: 160px;
  height: 64px;

  background: #f15b22;
  border-radius: 5px;
  border: 0;
  font-weight: 600;
  font-size: 20px;
  /* line-height: 23px; */
  /* text-align: right; */

  color: #ffffff;
}

/* failures part CSS */
.failures {
  display: flex;
  gap: 87px;
}

.failure-img {
  margin-top: 131px;
  margin-left: 206px;
}

.previous-failures {
  margin-top: 370px;
  margin-right: 322px;
}

.title {
  width: 288px;
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 24px;
}

.failure-description {
  width: 416px;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 16px;
  color: #444343;
}

ul li {
  list-style: none;
  width: 349px;
  height: 26px;

  font-weight: 400;
  font-size: 16px;
  color: #444343;
}

i {
  color: rgb(21, 210, 130);
}

/* end of failures part */
.my-plan > h3 {
  text-align: center;
  margin-top: 130px;
  margin-bottom: 55.7px;
  font-weight: 700;
  font-size: 40px;

  color: #151414;
}

.plan-list {
  display: flex;
  margin-left: 230px;
  margin-right: 230px;
  justify-content: space-between;
  gap: 84px;
}

.items {
  text-align: center;

  margin-bottom: 16px;
}
.items h3 {
  margin-top: 16px;
  font-weight: 700;
  font-size: 30px;
  /* line-height: 35px; */
  text-align: center;

  color: #151414;
}

.items p {
  margin-top: 16px;
  font-weight: 500;
  font-size: 25px;
  /* line-height: 29px; */
  text-align: center;

  color: #737272;
}
