* {
  font-family: "Work Sans";
  margin: 0;
}
header {
  background-image: url(images/banner/banner1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 808px;
  text-align: right;
}
.header {
  /* align-items: ; */
  text-align: right;
  margin-right: 230px;
}

.header-title {
  /* margin-top: 216px;
     */
  /* text-align: right; */
  /* max-width: 525px; */
  padding-top: 216px;
  margin-left: 845px;
  font-weight: 700;
  font-size: 65px;
  color: #151414;
}

.header-description {
  font-weight: 400;
  font-size: 16px;

  margin-left: 876px;
  margin-top: 24px;
  /* line-height: 26px; */
  color: #444343;
}

.btn-primary {
margin-top: 32px;
width: 160px;
height: 64px;


background: #F15B22;
border-radius: 5px;
border: 0;
font-weight: 600;
font-size: 20px;
/* line-height: 23px; */
/* text-align: right; */

color: #FFFFFF;
}
